:root {
    --titleColor: #2d1400;
    --bgc: #fdfaf3;
    --titleFontSize: 4.8rem;
}

::selection {
    color: #fff;
    background: #bbb;
}

html {
    height: 100vh;
    background-color: var(--bgc);
    scroll-behavior: smooth;
    cursor: default;
    user-select: none;
    overflow: hidden;
}

body {
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: center;
}

#main {
    position: relative;
    width: max-content;
    height: 100%;
    margin: 0 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#logo {
    width: 100%;
    text-align: center;
    color: var(--titleColor);
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    font-weight: 500;
    margin: 20vh 0px 10vh 0px;
    word-wrap: break-word;
}

#title {
    margin: 20px 0;
}

#title.wide {
    font-size: var(--titleFontSize);
}

#title.narrow {
    font-size: calc(var(--titleFontSize) - 1rem);
}

#title.super-narrow {
    font-size: calc(var(--titleFontSize) - 1.6rem);
}

#sub-title {
    display: flex;
    justify-content: center;
}

#sub-title.wide>span {
    font-size: 0.9rem;
    margin: 0 6px;
}

#sub-title.narrow>span {
    font-size: 0.7rem;
    letter-spacing: 1px;
    margin: 0 5px;
}

#sub-title.super-narrow>span {
    font-size: 0.7rem;
    letter-spacing: 0.4px;
    margin: 0 2px;
}

#search {
    /* width: fit-content; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-bar {
    width: 60vw;
    max-width: 550px;
    min-width: 200px;
    height: 25px;
    font-size: 0.9rem;
    color: #888;
    text-align: center;
    border-radius: 50px;
    border: 2px solid #888;
    padding: 0 10px;
    background-color: transparent;
}

#search-bar:focus {
    outline: none;
}

#search-btn {
    margin: 5px 0 5px 10px;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#search-btn:hover {
    background-color: #eee;
}

#search-btn:active {
    background-color: #ddd;
}

#hint {
    width: 60vw;
    max-width: 550px;
    min-width: 280px;
    margin: 15px 0;
    padding: 0 5px;
    display: flex;
    align-items: center;
    opacity: 0%;
    transition-duration: 300ms;
}

#hint-msg {
    margin: 0 10px;
    color: #888;
    font-size: calc(var(--titleFontSize) / 7);
    letter-spacing: 0.5px;
}

#external-link-bar {
    position: absolute;
    left: 0%;
    bottom: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.external-link {
    border-radius: 3px;
    color: var(--titleColor);
    margin: 0 10px;
    padding: 4px 8px;
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.external-link:hover {
    background-color: #eee;
}

.external-link:active {
    background-color: #ddd;
}