<div id="article-style-controller">
    <style>
        @media screen and (min-width:1024px) {
            #article-style-controller .side-bar {
                display: grid;
                width: 4vw;
                gap: 0;
                grid-template-columns: repeat(auto-fit, minmax(4vw, 1fr));
                justify-items: stretch;
            }
        }
        
        @media screen and (max-width:1024px) {
            #article-style-controller .side-bar {
                display: none;
            }
        }
        
        #article-style-controller .side-bar {
            padding: 20px 0;
            position: fixed;
            border-radius: 500px;
        }
        
        #article-style-controller #tool {
            top: 40vh;
            right: 8vw;
            height: 20vh;
            transform: translateY(-10vh);
        }
        
        #article-style-controller #others {
            bottom: 0;
            right: 8vw;
            height: 14vh;
            transform: translateY(-7vh);
        }
        
        #article-style-controller .btn {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
    <div id="tool" class="side-bar">
        <div class="btn">
            <img src="/webpage/assets/type.svg" alt="" srcset="" width="28" height="28">
        </div>
        <div class="btn">
            <img src="/webpage/assets/arrows-expand.svg" alt="" srcset="" width="28" height="28">
        </div>
        <div class="btn">
            <img src="/webpage/assets/arrows-expand.svg" alt="" srcset="" style="transform: rotate(90deg);" width="26" height="26">
        </div>
    </div>
    <div id="others" class="side-bar">
        <div class="btn">
            <img src="/webpage/assets/inbox-fill.svg" alt="" srcset="" width="28" height="28">
        </div>
        <div class="btn">
            <img src="/webpage/assets/arrow-up-circle-fill.svg" alt="" srcset="" width="28" height="28">
        </div>
    </div>
</div>