<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script type="module" src="../modules/view/script.js" defer></script>
    <title id="web-page-title">Document</title>
</head>

<body id="body">
    <div id="waiting-frame"></div>
    <div id="fetched-content-container"></div>
    <!-- <div class="component" data-include="../components/articleStyleController.html"></div> -->
    <!-- <div id="main-tool" class="side-bar">
        <div class="btn" id="font-size-controller" onclick="changeFontSize()">
            <img src="../assets/type.svg" alt="" srcset="" width="28" height="28">
        </div>
        <div class="btn">
            <img src="../assets/arrows-expand.svg" alt="" srcset="" width="28" height="28">
        </div>
        <div class="btn">
            <img src="../assets/arrows-expand.svg" alt="" srcset="" style="transform: rotate(90deg);" width="26" height="26">
        </div>
    </div>
    <div id="other-tool" class="side-bar">
        <div class="btn">
            <img src="../assets/inbox-fill.svg" alt="" srcset="" width="28" height="28">
        </div>
        <div class="btn">
            <img src="../assets/arrow-up-circle-fill.svg" alt="" srcset="" width="28" height="28">
        </div>
    </div> -->
</body>

</html>